body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 24px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card .thumbnail-container {
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    border-radius: 15px; /* Rounded corners for the container */
    overflow: hidden;
}

.card img#thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area of the container */
    border-radius: 15px; /* Rounded corners for the image */
}

.card img#channelIcon {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Rounded corners for the image */
}

.card h2 {
    margin: 10px 0;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; /* Ensure the footer has a background color */
    border-bottom-left-radius: 24px; /* Rounded corners for the bottom of the card */
    border-bottom-right-radius: 24px; /* Rounded corners for the bottom of the card */
    height:auto;
    overflow:auto;
}

.channel-info {
    display: flex;
    align-items: center;
}

.channel-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.channel-info p {
    margin: 0;
}

.video-stats {
    text-align: right;
}

.video-stats p {
    margin: 0;
}

.hidden {
    display: none;
}